.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #F2B737;
    height: 100vh;
    align-items: center;
}

.btn-login {
    background-color: #F21D56;
    color: #F2B737;
}

.btn-login:hover {
    background-color: #F2522E;
    color: #ffffff;

}

.nav-register a {
    text-decoration: none;
    color: #F21D56;
    transition: .3s ease-in;
}

.nav-register a:hover {
    color: #ffffff;
}