.salon-content {
    width : 100vw;
    height: 100vh;
}

.content-both-sides {
    margin: 0;
}

.content-on-the-left {
    border-right: 2px solid #F21D56;
}

.input {
    width: 200px;
}


.select-menu-bttn {
    background-color: #F29435;
    color           : #ffffff;
    height          : 100px;
}

.content-on-the-right {}

.customer-info-box {
    color             : #FFD373;
    font-weight       : 900;
    font-size         : large;
    border-radius     : 8px;
    width             : 218px;
    height            : 87px;
    /*left            : 10px;*/
    padding           : 10px;
    background-color  : #F2522E;
}

.font-style-orange {
    color      : #F2522E;
    font-size  : larger;
    font-weight: bolder;
}

.font-style-pink {
    color      : #F21D56;
    font-size  : larger;
    font-weight: bolder;
}