.header-content {
    border-bottom: 2px solid #F21D56;
}

.btn-header {
    margin: 1%;
    font-size: larger;
    font-weight: bold;
    background-color: #F21D56;
    color: #F2B737;
}

.mini-logo {
    max-width: 8%;
}

