.item-summary-list {
    background   : #FFD373;
    width        : 220px;
    height       : 80px;
    border-radius: 8px;
    padding      : 3%;
    box-shadow   : 0px 2px 2px rgba(0, 0, 0, 0.25);

}

.font-style {
    color      : #F2522E;
    font-weight: 700;
    font-size  : medium;
}

.btn-quantity {
    border-radius: 4px;
    border       : 1px solid #F2522E;
    font-weight  : bold;
}

.counter {
    border-radius: 2px;
    border       : 1px solid black;
    background   : white;
    margin       : 1%;
    padding      : 1%;
}

.btn-send-to-kitchen {
    font-weight: bold;

}