.navbar {
    /*background-color: #F21D56;*/
}

.mini-logo {
    max-width: 25%;
    /*background-color: #F21D56;*/
}

.nav-item a {
 background-color: #F21D56;
 color: #F2B737;
 border-radius: 8px;
 transition: .3s ease-in;

}

.nav-item a:hover {
    background-color: #F2522E;
    color: #ffffff;
}