.register-content{
    height: 100vh;
    margin: auto;
    background-color: #F2B737;
    align-items: center;
}

.form-register{
    margin: auto;
    background-color: #f21d57;
    border-radius: 10px;
    border-color: #f21d57;
    padding: 5% 5%;
}

.btn-register-page{
    background-color: #f2522e;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;  
}

.edit-text-color{
    color: #F2B737;
}

#register-title{
    font-size: xx-large;
}

.for-border{
    border-bottom:3px solid #F2B737;
    border-top: 3px solid #F2B737;
    border-radius: 5px;
}

